

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;

  background: linear-gradient(-45deg, #0f3f86, #6a11cb, rgb(190, 173, 19), #203a43);
  background-size: cover;
  background-repeat: no-repeat;

  background-image: url(RR-v-jan-2019-135.jpg);

  /* animation: gradientShift 15s ease infinite; */
}

/* Keyframes for gradient movement */
/* @keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
} */

.image {
  width: 100%;
  height: 100vh; /* full page */
  background-image: url('your-image.jpg');
  background-size: cover;       /* fills container without repeating */
  background-position: center;
  background-repeat: no-repeat;
}


.row1 {
    margin: 20px;
    display: flexbox;
    justify-content: space-around;
}


.header h1 {
    color:goldenrod;
    font-size: 80px;
    font-family: 'Great Vibes', cursive;
}

.header p {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    background-color: blanchedalmond;
    color: goldenrod;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
}



.details {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.details div {
   /* background-color: rgba(185, 16, 16, 0.2); /* just for visual clarity */
   display: flex;
   justify-content: space-around;
    padding: 20px;
    width: 40%;                  /* or whatever width you want */
    border-radius: 10px;
}


.interests {
  position: relative;
  display: inline-block;
  width: 200px; /* optional */
  margin: 10px;
}

.dropbtn {
  display: flex;  
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: goldenrod;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
}

.dropdown-content {
  display: none;      /* hidden by default */
  flex-direction: column;
  position: absolute;
  top: 100%;          /* place below the button */
  left: 25%;            /* align left edge with button */
  background-color: rgb(6, 10, 39);
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  border-radius: 10px;
  z-index: 10;        /* on top of other content */
  margin-top: 5px;
}


.dropdown-content p {
  padding: 10px;
  margin: 0;
  cursor: pointer;
  background-color: rgb(238, 180, 34);
  border: black 2px solid;
  border-width: 10px;
  border-color: rgb(6, 10, 39);
}

.dropdown-content p:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
